@import 'assets/styles/_for-imports.scss';

.container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: $gray-900;
  width: 72px;
  overflow: hidden;
  transition: width .2s ease-in-out;
  z-index: 999;

  &:hover {
    width: 296px;
  }
}

.containerInner {
  width: 296px;
}

.link:hover {
  text-decoration: none;
}

.avatar {
  width: 48px;
  height: 48px;
  background: $gray-500;
}