@import 'assets/styles/_for-imports.scss';

.icon {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.prepend {
  @extend .icon;
  left: 16px;
}

.append {
  @extend .icon;
  right: 16px;
}
