.alert {
  border-radius: 0;
  color: #FFFFFF;
  font-size: $alert-font-size;
  line-height: 19px;
}

.alert-success {
  background-color: rgba($success, .6);
}

.alert-danger {
  background-color: rgba($danger, .6);
}
