.alert {
  border-radius: 0 !important;
  color: #FFFFFF !important;
  font-size: $alert-font-size;
  line-height: 19px;
}

.alert-success {
  background-color: rgba($success, .6) !important;
}

.alert-danger {
  background-color: rgba($danger, .6) !important;
}
