$btn-min-width: 168px;

$hover-background: $gray-700;
$btn-hover-border: $hover-background;
$btn-color-secondary: $transparent;

.btn {
  min-width: $btn-min-width;

  &:hover,
  &:focus,
  &.focus {
    background-color: $hover-background;
    box-shadow: none;
    border-color: $btn-hover-border;
  }
  &.disabled,
  &:disabled {
    opacity: 1;
    color: $gray-500;
    background-color: $btn-disabled;
    border-color: $btn-disabled;
  }
}

.btn-secondary {
  background-color: $btn-color-secondary;
  border-color: $gray-900;
  color: $gray-700;
}

.btn-secondary {
  &:hover,
  &:focus,
  &.focus {
    background-color: $gray-100;
    border-color: $gray-500;
    color: rgba($gray-900, .5);
  }
  &.disabled,
  &:disabled {
    border-color: $gray-300;
    color: $gray-500;
    background-color: $btn-color-secondary;
  }
}

.btn-dynamic-width {
  min-width: auto;
}
