$btn-border-width: 1px;
$btn-padding-y: 1.035rem;
$btn-padding-x: 1.1rem;
$btn-font-size: .875rem;
$btn-line-height: .853rem;
$btn-padding-y-sm: .625rem;
$btn-min-width: 168px;

$hover-background: $gray-700;
$btn-hover-border: $hover-background;
$btn-color-secondary: $transparent;

.btn {
  min-width: $btn-min-width;
  min-height: 40px;

  &:hover,
  &:focus,
  &.focus {
    background-color: $hover-background !important;
    box-shadow: none !important;
    border-color: $btn-hover-border !important;
  }
  &.disabled,
  &:disabled {
    opacity: 1 !important;
    color: $gray-500 !important;
    background-color: $btn-disabled !important;
    border-color: $btn-disabled !important;
  }
}

.btn-sm {
  min-height: 30px;
}

.btn-lg {
  min-width: $btn-min-width;
  min-height: 48px;
}

.btn-secondary {
  background-color: $btn-color-secondary !important;
  border-color: $gray-900 !important;
  color: $gray-700 !important;
}

.btn-secondary {
  &:hover,
  &:focus,
  &.focus {
    background-color: $gray-100 !important;
    border-color: $gray-500 !important;
    color: rgba($gray-900, .5) !important;
  }
  &.disabled,
  &:disabled {
    border-color: $gray-300 !important;
    color: $gray-500 !important;
    background-color: $btn-color-secondary !important;
  }
}

.btn-dynamic-width {
  min-width: auto;
}
