input[type="checkbox"] {
  display: none;
}

label:hover {
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: '';
  display: inline-block;
  height: 1.125rem;
  width: 1.125rem;
  border: $input-border-size solid $gray-500;
  border-radius: .125rem;
  background-color: #fff;
  vertical-align: middle;
  margin-right: .75rem;
}

input[type="checkbox"] + label:hover::before {
  border: $input-border-size solid $gray-600;
}

input[type="checkbox"]:checked + label::before {
  border: $input-border-size solid $gray-600;
  background-image: url($checkmark);
  background-repeat: no-repeat;
  background-position: center center;
}

input[type="checkbox"]:disabled + input[type="checkbox"]:checked + label::before {
  border: $input-border-size solid $gray-300;
  background-image: url($checkmark);
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
}

input[type="checkbox"]:disabled + label::before {
  border: $input-border-size solid $gray-300;
  opacity: 0.5;
}

input[type="checkbox"] + label {
  color: $gray-700;
  margin: 0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: $white !important;
  border-color: $gray-600 !important;
}
