.form-control {
  &:focus {
    color: $input-focus-color;
    background-color: $input-focus-bg !important;
    border-color: $input-focus-border-color;
    outline: 0;
    box-shadow: none !important;
  }

  &.is-invalid {
    color: theme-color("danger");
  }
}

@each $state, $data in $form-validation-states {
  @include form-validation-state-ua($state, map-get($data, color));
}