table {
  margin: 0;
  border-collapse: inherit !important;
  border-spacing: 0 8px;
}

table th {
  color: $table-head-color;
  font-weight: 500;
  font-size: .75rem !important;
  padding: 8px 16px !important;
}

/* td */
table tr td {
  height: 72px;
  vertical-align: middle !important;
}

table tbody tr:not(.inactive) {
  background-color: white;
}

table tbody tr:hover {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 35, 11, 0.1);
  cursor: pointer;
}

table tr.inactive td {
  color: $table-head-color;
}

table tr td:first-child {
  border-radius: 4px 0 0 4px;
}

table tr td:last-child {
  border-radius: 0 4px 4px 0;
}