$regular: 400;
$medium: 500;
$bold: 700;

$size-sm-11: 11px;
$size-sm-12: 12px;
$size-sm: 13px;
$size-base: 14px;
$size-md: 16px;
$size-lg: 24px;
$size-lg-26: 26px;
$size-lg-28: 28px;

@mixin styleText($weight, $size) {
 font-weight: $weight !important;
 font-size: $size !important;
}

h1 { @include styleText($bold, $size-lg-28) }
h2 { @include styleText($bold, $size-lg-26) }
h3 { @include styleText($bold, $size-lg) }
h4 { @include styleText($bold, $size-md) }
h5 { @include styleText($bold, $size-base) }

p { @include styleText($regular, $size-base) }

.text-sm { @include styleText($regular, $size-sm-11) }
.text-md { @include styleText($medium, $size-md ) }
.text-lg { @include styleText($bold, $size-lg )}
