@import "~bootstrap/scss/functions";
@import "./variables-bs-overrides.scss";
@import "./variables.scss";
@import "~bootstrap/scss/mixins";
@import "./mixins.scss";

@import "~bootstrap/scss/bootstrap";

@import "./components/table.scss";
@import "./components/checkbox.scss";
@import "./components/buttons.scss";
@import "./components/alert.scss";
@import "./components/listgroup.scss";
@import "./components/switch.scss";
@import "./components/badge.scss";
@import "./components/nav.scss";
@import "./components/pagination.scss";
@import "./components/typography.scss";
@import "./components/forms.scss";
@import "./components/radio.scss";

@import "./components/popover.scss";

@each $color, $value in $status-colors {
  .color-#{$color} {
    color: $value;
  }

  .bg-#{$color} {
    background-color: $value;
  }
}


.cur-pointer {
  cursor: pointer;
}