/**
  ONLY CUSTOM VARIABLES HERE!!!
  BS VARIABLES HAVE TO BE OVVERIDDEN IN variables-bs-overrides.scss
*/

$font-family-sans-serif: 'Roboto', sans-serif;

// Status colors
$color-new: rgba(#36C3FF, .75);
$color-progress: rgba(#8567FF, .75%);
$color-review: rgba(#FFE138, 75%);
$color-ready: rgba(#FF9029, .75%);
$color-hold: rgba(#FF4040, .60%);
$color-published: #5DC288;

$status-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$status-colors: (
  "new":       $color-new,
  "in_progress":  $color-progress,
  "in_review":    $color-review,
  "ready":     $color-ready,
  "on_hold":      $color-hold,
  "published": $color-published,
);


$transparent: transparent;
$hover-background: $gray-700;

$component-active-color: $gray-700;
$component-active-bg: $gray-300;

/* Alerts */
$alert-font-size: 16px;
$alert-font-weight: 400;

/* Buttons */
$btn-min-width: 168px;
$btn-hover-border: $hover-background;
$btn-color-secondary: transparent;
$btn-disabled: $gray-300;

/* Checkbox */
$checkmark: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAALCAYAAABPhbxiAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACeSURBVHgBlZDBDcIwDEW/CyuwAuLYEbIDEmdPQt1NOCOhjFBG4MgQnDk2ja2mqqpGbSxFtmM/+8tAgbmOcfHsNKa9UO0Zf0Ao4B4I7bEQajSvehCVQtG33+tDKk2S7r2QbT17bkJAp34J5iADVe9YkDmscQ6yP5P6YomXsqboJQ3KQRO4hKdiBlI7pOD3/LxPt5riKLcFrZpu1rfVNwCvs1ObxZMHTwAAAABJRU5ErkJggg==';
$input-border-size: .063rem;

/* Switch */
$switch-bg-normal: $gray-500;
$switch-bg-hover: $gray-700;
$switch-thumb-bg: $white;

/* Radio */
$input-radio-border-color: #A5A5A5;
$input-radio-check-color: #27AE60;
