/**
  ONLY CUSTOM VARIABLES HERE!!!
  BS VARIABLES HAVE TO BE OVVERIDDEN IN variables-bs-overrides.scss
*/

$font-family-sans-serif: 'Roboto', sans-serif;

$status-in-progress:      #D1E2E7;
$status-in-review:        #FED808;
$status-ready-to-publish: #4A8FE2;
$status-published:        #7DD31F;

$transparent: transparent;
$hover-background: $gray-700;

$component-active-color: $gray-700;
$component-active-bg: $gray-300;

/* Alerts */
$alert-font-size: 16px;
$alert-font-weight: 400;

/* Buttons */
$btn-min-width: 168px;
$btn-hover-border: $hover-background;
$btn-color-secondary: transparent;
$btn-disabled: $gray-300;

/* Checkbox */
$checkmark: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAALCAYAAABPhbxiAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACeSURBVHgBlZDBDcIwDEW/CyuwAuLYEbIDEmdPQt1NOCOhjFBG4MgQnDk2ja2mqqpGbSxFtmM/+8tAgbmOcfHsNKa9UO0Zf0Ao4B4I7bEQajSvehCVQtG33+tDKk2S7r2QbT17bkJAp34J5iADVe9YkDmscQ6yP5P6YomXsqboJQ3KQRO4hKdiBlI7pOD3/LxPt5riKLcFrZpu1rfVNwCvs1ObxZMHTwAAAABJRU5ErkJggg==';
$input-border-size: .063rem;

/* Switch */
$switch-bg-normal: $gray-500;
$switch-bg-hover: $gray-700;
$switch-thumb-bg: $white;
